/* Estilos para el formulario de inicio de sesión */
.login-container {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #ffffff; /* Un fondo oscuro para el login */
  padding: 40px;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  font-weight: bold;
}

.login-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold; /* Texto en negrilla */
}

.login-container p {
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: bold; /* Texto en negrilla */
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form input {
  width: 50%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 16px;
  font-weight: bold; /* Texto en negrilla */
}

#login-form button {
  padding: 15px 30px;
  background-color: #000000; /* Un botón color negro */
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold; /* Texto en negrilla */
  transition: background-color 0.3s;
}

#login-form button:hover {
  background-color: #ffffff;
}

#login-form input::placeholder {
  color: #bbb;
  font-weight: bold; /* Texto del placeholder en negrilla */
}

.login-container small {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
  font-weight: bold; /* Texto en negrilla */
}

.login-container a {
  color: #000000;
  text-decoration: underline;
  font-weight: bold; /* Texto en negrilla */
}
